<h1>ショッピングカート</h1>

<% if user_signed_in? %>
  <% if @cart.cart_items.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart.cart_items.each do |item| %>
          <tr>
            <td><%= item.product.name %></td>
            <td><%= number_to_currency(item.product.price) %></td>
            <td><%= item.quantity %></td>
            <td><%= number_to_currency(item.quantity * item.product.price) %></td>
            <td>
              <%= link_to '削除', cart_item_path(item), data: { turbo_method: :delete, confirm: '本当に削除しますか？' }, class: "btn btn-danger" %>
            </td>
            
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-end">
      <strong>合計金額:</strong>
      <%= number_to_currency(@cart.cart_items.sum { |item| item.quantity * item.product.price }) %>
    </div>
  <% else %>
    <p>カートに商品がありません。</p>
  <% end %>
<% else %>

  <%# セッションベースのカートアイテム表示 %>
  <% if session[:cart] && session[:cart]['items'].any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% session[:cart]['items'].each do |item| %>
          <% product = Product.find_by(id: item['product_id']) %>
          <% if product %>
            <tr>
              <td><%= product.name %></td>
              <td><%= number_to_currency(product.price) %></td>
              <td><%= item['quantity'] %></td>
              <td><%= number_to_currency(item['quantity'] * product.price) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <div class="text-end">
      <strong>合計金額:</strong>
      <%= number_to_currency(session[:cart]['items'].sum { |item| Product.find_by(id: item['product_id']).price * item['quantity'] }) %>
    </div>
  <% else %>
    <p>カートに商品がありません。</p>
  <% end %>
<% end %>

<%= form_with url: orders_path, method: :post do |form| %>
  <%= form.submit '注文する', class: "btn btn-primary" %>
<% end %>