<h1>Products</h1>
<div class="products-list">
  <% @products.each do |product| %>
    <div class="product">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
      <%= link_to "View", product_path(product) %>
    </div>
  <% end %>
</div>
<%= link_to "View Cart", cart_path %>
<%= link_to "ホームに戻る", root_path %>